{% extends "base.html" %}

{% block title %}Sign Up - MyFinancesX{% endblock %}

{% block content %}


<div class="secondary-nav">
  <a href="{{ url_for('admin.data_mgt') }}">Data summary</a>
  <a href="{{ url_for('admin.monthly_report') }}">Monthly Report</a>
  <a href="{{ url_for('admin.new_transaction') }}">New Trx</a>
  <a href="{{ url_for('admin.new_fund') }}">New Fund</a>
  <a href="#">Scenaries</a>
  <a href="#">Delete</a>
</div>

<!--
<div class="search-section container">

    <h2>Monthly Report</h2>

    <form method="POST" action="{{ url_for('admin.monthly_report') }}">
        {{ form.hidden_tag() }}
        
            {{ form.owner.label }}<br>
            {{ form.owner(class="form-control") }}
        
            {{ form.start_date.label }}<br>
            {{ form.start_date(class="form-control", placeholder="YYYY-MM-DD") }}
        
            {{ form.end_date.label }}<br>
            {{ form.end_date(class="form-control", placeholder="YYYY-MM-DD") }}
        
            {{ form.submit(class="btn btn-primary") }}
    </form>

</div>
-->


    <!-- Sección de Búsqueda -->
    <div class="search-section container">
        <form method="POST" action="{{ url_for('admin.monthly_report') }}">
            {{ form.hidden_tag() }}
            
                {{ form.owner.label }}<br>
                {{ form.owner(class="form-control") }}
            
                {{ form.start_date.label }}<br>
                {{ form.start_date(class="form-control", placeholder="YYYY-MM-DD") }}
            
                {{ form.end_date.label }}<br>
                {{ form.end_date(class="form-control", placeholder="YYYY-MM-DD") }}
            
                {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>



    <!-- Sección de KPIs -->
    {% if kpis %}
    <div class="kpi-section container">
        <div class="kpi-card">
            {% set kpi_count = kpis|length %}
            <!--<div class="kpi-section cols-{{ 2 if kpi_count <= 4 else 4 if kpi_count <= 8 else 6 }}">-->
            <div class="kpi-section cols-{{ 2 if kpi_count <= 4 else 3 }}">
                    {% for key, value in kpis.items() %}
                <div class="kpi-card">{{ key }}: <span>{{ value | currency }}</span></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}


    <!--
    <div class="kpi-section container">
        <div class="kpi-grid">
            {% if kpis.saldo_actual_eur is not none %}
            <div class="kpi-card">
                Saldo Total Fin Periodo EUR: <span>{{ kpis.saldo_actual_eur | currency }}</span>
            </div> 
            {% endif %}
            
            {% if kpis.saldo_actual_usd is not none %}
            <div class="kpi-card">
                Saldo Total Fin Periodo USD: <span>{{ kpis.saldo_actual_usd | currency }}</span>
            </div>
            {% endif %}
            
            {% if kpis.saldo_total_inicio_eur is not none %}
            <div class="kpi-card">
                Saldo Total Inicio EUR: <span>{{ kpis.saldo_total_inicio_eur | currency  }}</span>
            </div>
            {% endif %}
            
            {% if kpis.saldo_total_inicio_usd is not none %}
            <div class="kpi-card">
                Saldo Total Inicio USD: <span>{{ kpis.saldo_total_inicio_usd | currency  }}</span>
            </div>
            {% endif %}
            
        </div>
    </div>
    -->
    <div class="table-section container">
    {% if global_table %}
    <table>
        <thead>
            <tr>
                <th>Fondo</th>
                <th>Moneda</th>
                <th>Saldo Final</th>
                <th>Saldo Inicio Periodo</th>
                <th>Saldo Inicio Fondo</th>
                <th>Ganancia Periodo</th>
                <th>Ganancia Total</th>
                <th>Ganancia Último Mes</th>
                <th>Aportes (Buy)</th>
                <th>Retiros (Sell)</th>
                <th>% Ganancia Inicial</th>
                <th>% Ganancia Periodo</th>
                <th>% Ganancia Último Mes</th>
                <th>% Ganancia Año</th>
                <th>% Ganancia Interanual</th>
            </tr>
        </thead>
        <tbody>
            {% for (fund, currency), metrics in global_table.items() %}
            <tr>
                <td>{{ fund }}</td>
                <td>{{ currency }}</td>
                <td>{{ metrics['saldo_final_periodo'] | currency }}</td>
                <td>{{ metrics['saldo_inicio_periodo'] | currency  }}</td>
                <td>{{ metrics['saldo_inicio_fondo'] | currency  }}</td>
                <td>{{ metrics['ganancia_periodo'] | currency  }}</td>
                <td>{{ metrics['ganancia_total'] | currency  }}</td>
                <td>{{ metrics['ganancia_mes'] | currency  }}</td>
                <td>{{ metrics['total_buys'] | currency  }}</td>
                <td>{{ metrics['total_sells'] | currency  }}</td>
                <td>{{ metrics['porcentaje_ganancia_inicial'] | currency  }}</td>
                <td>{{ metrics['porcentaje_ganancia_periodo'] | currency  }}</td>
                <td>{{ metrics['porcentaje_ganancia_mes'] | currency  }}</td>
                <td>{{ metrics['porcentaje_ganancia_ano'] | currency  }}</td>
                <td>{{ metrics['porcentaje_ganancia_interanual'] | currency  }}</td>
                    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    </div>






    <!-- Tabla de Datos -->
    <div class="table-section container">
        {% if tables_html %}
            <h3>Results</h3>
            {% for table in tables_html %}
                {{ table| safe  }}
            {% endfor %}
        {% endif %}
    </div>


    <!-- Gráficos -->
    <div class="chart-section container">
        {% if altair_chart %}
            <h3>Results</h3>
            {{ altair_chart|safe }}
        {% endif %}
        {% if matplotlib_chart %}
            <h3>Results</h3>
            {{ matplotlib_chart|safe }}
        {% endif %}
        {% if plotly_chart %}
        <h3>Results</h3>
        {{ plotly_chart|safe }}
        {% endif %}        
    </div>



{% endblock %}